html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
    padding-left: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --english-font-sans-serif-title: 'Bodoni Moda', serif;
    --english-font-sans-serif: 'Lato', sans-serif;
    --dark-color: rgb(3, 38, 32);
}

body {
    margin: 0 auto;
}

p {
    color: var(--dark-color);
    font-family: var(--english-font-sans-serif);
}

h1 {
    text-align: center;
    padding: 20px 0 0 0;
    font-family: var(--english-font-sans-serif-title);
    color: var(--dark-color);
    font-size: 26px;
}

h1+p {
    text-align: center;
}

h2 {
    color: #fff;
    padding: 60px 0 20px 0;
    font-family: "微軟正黑體", sans-serif;
}

h3 {
    color: #fff;
    font-family: var(--english-font-sans-serif-title);
}

h4{
    font-size: 16px !important;
}
a {
    text-decoration: none;
    display: block;
}
a:hover{
    color: var(--dark-color) !important;
}


.bg-animation {
    padding: 70px 20px;
    background: linear-gradient(243deg, #00795a, #16b4a7, #388583, #7ed16f);
    background-size: 800% 800%;
    border-left: solid 60px var(--dark-color);
    box-sizing: border-box;
    /* -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite; */
}

/* nav */
nav {
    position: fixed;
    width: 80px;
    height: 100vh;
    left:0;
}

nav div {
    position: absolute;
    top: -2%;
    transform: translateY(-50%);
}

nav a {
    text-decoration: none;
    font-size: 16px;
    display: block;
    border: solid 1px var(--dark-color);
    margin: 15px;
    padding: 5px;
    color: #fff;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}
nav a:hover{
    border-left: 1px solid #F9D262;
}

.active{
    border-left: 1px solid #F9D262;
    color: #F9D262;
}

.contact-list a {
    color: #fff;
    padding: 20px;
    font-size: 32px;
}

.contact-list {
    display: flex;
    justify-content: center;
}

.top {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.cover-img {
    height: 100%;
    object-fit: cover;
}

.bottom-img {
    filter: blur(10px);
}

.picture {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    margin-top: -50px;
}

.profile-picture {
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 12%);
    overflow: hidden;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}

section {
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0px 2px 15px rgb(0 0 0 / 40%);
    margin: 30px 0;
    padding: 30px;
    border-radius: 0 10px 10px 0;
    border-left: #fff solid 10px;
}

section h2 {
    padding: 20px 0 0 0;
}

section p {
    color: #fff;
}

/* about */
#aboutMe{
    border-left: 10px solid #fff;
    padding: 0 0 0 30px;
    display: flex;
}
#aboutMe h2{
    padding: 0;
    margin-right: 20px;
}
.about-1, .experience{
    margin: 6px 0 0 20px;
    width: 100%;
}
.skill-list, .experience, .certification, .intro{
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0px 2px 15px rgb(0 0 0 / 40%);
    border-radius: 10px;
    padding: 20px;
}
.skill-list, .intro{
    margin-bottom: 20px;
}
.container {
    width: 100%;
    background-color: #fff;
    padding: 0 !important;
    height: 1rem;
    border-radius: 15px;
}
.skills {
    font-size: 12px;
    width: 20px;
    height: 1rem;
    text-align: right;
    color: white;
    padding-right: 10px;
    border-radius: 15px;
}
.skill-list p{
    margin: 10px 0 0 0;
}
.skill-list ul{
    padding: 0;
}
.html-css {
    width: 60%;
    background-color: #3DAFA5;
}
.bootstrap{
    width: 50%;
    background-color: #E0647F;
}
.js {
    width: 30%;
    background-color: #faca3c;
}
.ai {
    width: 80%;
    background-color: #fa993d;
}
.ps{
    width: 70%;
    background-color: #2196F3;
}
.figma {
    width: 70%;
    background-color: #ae33db;
}
.jquery{
    width: 40%;
    background-color: #808080;
}
.certification ul li, .list-group-item{
    background: transparent;
    padding: 5px !important;
    font-size: 14px;
}
.experience ul li{
    padding: 15px !important;
}
.experience p{
    margin: 0 0 10px 0;
}
ul.timeline {
    list-style-type: none;
    position: relative;
    /* padding-left: 1.5rem; */
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 25px;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.small{
    color: grey;
    font-size: 11px !important;
}
.timeline-item p{
    font-size: 14px;
}
.experience .card{
    padding: 0;
}

.card-list {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.card {
    /* box-shadow: 0px 2px 15px rgb(0 0 0 / 10%); */
    border: none;
}

.card p,
h5 {
    color: var(--dark-color);
    text-align: left;
}

.cardimg img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

#prototype {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;

}

.prototype-animation {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.prototype-content {
    height: 100%;
    width: 80vw;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}

.prototype-content h3 {
    background: linear-gradient(243deg, #00795a, #16b4a7, #388583, #7ed16f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.prototype-content p,
.prototype-content h3 {
    text-align: left;
    font-family: "微軟正黑體", sans-serif;
    padding: 10px 0;
}

.prototype-content a {
    width: 12rem;
    white-space: nowrap;
    margin: 20px 0;
}

.owl-theme {
    margin: 20px 0;
}

.owl-theme .item img {
    object-fit: cover;
    height: 400px;
}
.end{
    text-align: center;
}
.end p{
    font-weight: bold;
    padding: 20px;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 81%
    }

    50% {
        background-position: 100% 20%
    }

    100% {
        background-position: 0% 81%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 81%
    }

    50% {
        background-position: 100% 20%
    }

    100% {
        background-position: 0% 81%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 81%
    }

    50% {
        background-position: 100% 20%
    }

    100% {
        background-position: 0% 81%
    }
}

@media (max-width:768px) {
    h5 {
        font-size: 16px !important;
    }

    .picture{
        padding-left: 2rem;
    }
    .contact-list a {
        padding: 12px;
        margin-bottom: 20px; 
    }
    nav div{
        top: 15%;
    }
    nav a{
        margin: 10px 10px 10px 5px;
        padding: 3px;
        font-size: 14px;
    }
    section{
        border-left: #fff solid 5px;
        padding: 15px;
    }

    #aboutMe{
        flex-direction: column;
        padding-left: 15px;
        border-left: 5px solid #fff;

    }
    .about-1{
        margin: 0 0 20px 0;
    }
    .experience{
        margin: 0;
    }
    .card-body p {
        line-height: 1.2;
    }

    .top {
        height: 170px;
    }

    .bg-animation {
        padding: 70px 10px 10px 10px;
        border-left: solid 40px var(--dark-color);
    }

    .contact-list a {
        font-size: 20px;
    }

    .card-list {
        margin: 0;
    }

    .card-body {
        padding: 10px !important;
    }

    #prototype {
        flex-direction: column;
        height: auto;
    }

    .prototype-content {
        padding: 20px;
    }

    .prototype-content p {
        font-size: 14px;
    }

    .owl-theme .item img {
        object-fit: cover;
        height: 300px;
    }
}