html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root{
    --english-font:'Josefin Sans', sans-serif;
    --dark-color:rgb(3, 38, 12);
}
*{
    text-align: center;
}
body{
    margin: 0 auto;
}
h1, p, h2{
    color: #fff;
    font-family: var(--english-font);
}
h1{
    padding: 20px 0 0 0;
}
h2{
    padding: 0 0 40px 0;
}
a{
    text-decoration: none;
    display: block;
}
.border{
    margin: 80px 0;
}
.bg-animation {
    padding: 70px 60px;
    background: linear-gradient(243deg, #00795a, #343f32, #49873e, #16b4a7);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}
.contact-list a{
    color: #fff;
    padding: 10px;
    font-size: 20px;
}
.contact-list{
    display: flex;
    justify-content: center;
}
.top{
    height: 300px;
    width: 100%;
    overflow: hidden;
}
.cover-img{
    height: 100%;
    object-fit: cover;
}
.bottom-img{
    filter: blur(10px);
}
.picture{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    margin-top: -50px;
}
.profile-picture{
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 12%);
    overflow: hidden;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.card-list{
    display: flex;
    justify-content: center;
    margin: 0 50px;
}
.card{
    box-shadow: 0px 2px 15px rgb(0 0 0 / 12%);
    margin: 0 10px;
    width: 50%;
}
.card p, h5{
    color:var(--dark-color);
    text-align: left;
}
.cardimg img{
    object-fit: cover;
    height: 150px;
    width: 100%;
}
.card-body{
    display: flex;
    flex-direction: column;
}
.owl-theme .item img{
    object-fit: cover;
    height: 500px;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 81%}
    50%{background-position:100% 20%}
    100%{background-position:0% 81%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 81%}
    50%{background-position:100% 20%}
    100%{background-position:0% 81%}
}
@keyframes AnimationName {
    0%{background-position:0% 81%}
    50%{background-position:100% 20%}
    100%{background-position:0% 81%}
}
@media (max-width:1080px) {
    h5{
        font-size: 16px !important;
    }
    .card-body p{
        font-size: 12px;
    }
    .top{
        height: 170px;
    }
    .bg-animation{
        padding: 70px 20px;
    }
    .card-list{
        margin: 0;
    }
    .card{
        margin: 0 5px;
    }
    .card-body{
        padding: 10px !important;
    }
    .owl-theme .item img{
        object-fit: cover;
        height: 300px;
    }
}